.checkout_products{
    display: flex;
    margin: 20px 0;
}

.checkout_product_info{
    padding-left: 20px;
}

.checkout_product_info > button{
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkout_product_img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkout_product_rating{
    display: flex;
}

.checkout_product_title{
    font-size: 17px;
    font-weight: 800;
}