.products {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-gap: 16px;
   justify-items: center;
   padding: 16px;
   
 }
 
 .product {
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 16px;
   text-align: center;
   background-color: #fff;
   width: 100%;
   max-width: 300px;
   
 }
 
 .product_info {
   margin-bottom: 16px;
 }
 
 .title {
   font-size: 16px;
   font-weight: bold;
 }
 
 .product_price {
   font-size: 14px;
   color: #b12704;
 }
 
 .product_rating {
   display: flex;
   justify-content: center;
 }
 
 .product_img {
   max-width: 100%;
   max-height: 350px;
   width: 200px;
   margin-bottom: 16px;
 }
 
 .add_to_basket_btn {
   background-color: #f0c14b;
   border: 1px solid;
   border-color: #a88734 #9c7e31 #846a29;
   color: #111;
   padding: 8px;
   cursor: pointer;
 }
 
 .add_to_basket_btn:hover {
   background-color: #ddb347;
 }
 