/* Product.css */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product {
  width: 300px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product_info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.product_rating{
   display: flex;
}

.product_img_container {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.product_img {
  height: 200px;
  width: auto;
  object-fit: contain;
}

.add_to_basket_btn_container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.add_to_basket_btn {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
}

.add_to_basket_btn:hover {
  background-color: #ddb347;
}
